<h1><%=@teacher.name %>'s Classroom</h1>

<p>Students:</p>
<ul>
  <% @students.each do |student| %>
    <li><a href="/students/<%=student.username %>"><%= student.name %></a></li>
  <% end %>
</ul><br>
<% if teacher_user?(@teacher) %>
  <a href="/students/new"><button type="button">Create Student</button> </a>
<% end %>
