<h1>Welcome to <%=@teacher.name %>'s Classroom</h1>

<p>Students:</p>
<ul>
  <% @students.each do |student| %>
    <li><a href="/students/<%=student.username %>"><%= student.name %></a></li>
  <% end %>
</ul>
