<h1>Welcome to <%=@teacher.name %>'s Classroom</h1>

<p>Students:</p>
<ul>
  <% @students.each do |student| %>
    <li><a href="/students/<%=student.username %>"><%= student.name %></a></li>
  <% end %>
</ul><br>
<% if current_user.username == @teacher.username %>
  <a href="/students/new"><button type="button">Create Student</button> </a>
<% end %>
<p><a href="/books">View Class Library</a></p>