Are you sure you want to do this? This action cannot be undone. Your students will lose all their books and reviews.
<br>
<a href="/teachers/<%=@teacher.username %>"><button type="button">No, take me back!</button></a>
<form method="post" action="/teachers/<%= @teacher.username %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Yes, DELETE my account.">
</form>