<h1>Review <%= @book.title %></h1>
<form action="/books/<%= @book.slug %>/reviews" method="post">
  <p><label for="rating">Stars: </label><input type="number" id="rating" name="review[rating]" min="0" max="5" value="0"></p>
  <p><label for="review">Review: </label><br>
    <textarea id="review" name="review[review]">Leave your review here.</textarea></p>
  <input type="submit" value="Submit Your Review">
</form>