<h1>Welcome to ClassReads</h1>
<p>Find your next favorite book!
  When you're finished, post a review so your friends know what you think!</p>
<a href="/students">Go to class!</a><br>
<a href="/books">View Class Library</a>
