<h1>Welcome to ClassReads</h1>
<div class="grid-container">
  <div class="left">
    <h3>Students</h3>
    <p>Did you read a good book? Write a review for all your friends to see! Then, read their reviews to find your next great read!</p>
    <img src="images/students-on-computer.jpg" alt="students on computer">
    <h3>Teachers</h3>
    <p>Keep track of your classroom library quickly and easily. See what your students think about what they read!</p>
  </div>
  <div class="right">
    <img src="images/book-bins.jpg" alt="student book bins">
  </div>


</div>